{% extends "base.html" %}

{% block title %}
	<title>{{testTitle}}</title>
{% endblock %}

{% block content %}
	<h1>{{testTitle}}</h1>

	<form action="#" method="post">
		<p><input type="submit" value="Back to Home" name="home"/></p>
	</form>

	<form action="#" method="post">
		<p>{{question}}</p>
		<p><input type="submit" value={{choice1}} name="1"/></p>
		<p><input type="submit" value={{choice2}} name="2"/></p>
		<p><input type="submit" value={{choice3}} name="3"/></p>
		<p><input type="submit" value={{choice4}} name="4"/></p>

	</form>


{% endblock %}
